body {
  justify-content: center;
}
h1 {
  text-align: center;
  margin: 0px;
  padding-top: 20px 10px;
  font-weight: bold;
  color: #ffffff;
  user-select: none;
}
.title {
  color: #ffffff;
}
.searchContainer {
  width: 100%;
  margin: 0 auto;
  padding: 5% 25px 0;
  max-width: 500ox;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.SearchingFor {
  text-align: center;
  color: #111111;
  justify-content: center;
  display: flex;
}
footer {
  padding: 50px;
  font-size: 14px;
  color: #ffffff;
}
footer a {
  color: #333;
  text-decoration: none;
}
footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}